body {
    width: auto;
    min-width: 1024px;
    height: 1024px;
    max-height: 1024px;
}


@media only screen and (max-width: 1000px){
    body{
        display: none;
    }
}
@media only screen and (max-width: 1280px) {
    .p1{

    left: 260px !important;

    }

    .p2{
        right: 233px !important;
    }

    .p3{
        font-size: 30px !important;
        left: 28px !important;
        width: auto !important;
    }

    .p4{
        font-size: 30px !important;
        right: 125px !important;
        width: auto !important;
    }

    .p5{
        font-size: 17px !important;
        left: 65px !important;
        width: 380px !important;
    }

    .p6{
        font-size: 17px !important;
        right: 64px !important;
        width: 380px !important;
    }

    .btn1{
        left: 196px !important;
    }

    .btn2{
        right: 195px !important;
    }
}

/* NAVBAR CSS  */

.navbar{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 30px !important;
    padding-right: 50px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    z-index: 1;
    background-color: white;
}

/* NAVBAR PORTFOLIO HIGHLIGHT COLOUR */

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #0093FB;
}


.navbar-brand{
    padding-left: 87px;
    padding-top: 11px;
    padding-bottom: 11px;

}

.refine-logo{
    /* max-width: 65%; */
    width: 180px;
    /* height: 28px; */
    left: 100px;
    top: 21px;
}


.nav-link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    letter-spacing: 0.38px;
    color: #2E3035;
    margin-left: 11px;
    margin-right: 11px;
    padding-right: 10px;

}


/* DIVISION LINES CSS  */

.topline{
    position: absolute;
    width: 0px;
    height: 300px;
    left: 50%;
    top: 110px;
    background-color: #7F8493;

    border: 1px solid #7F8493;
    /* transform: rotate(90deg); */
}

.or{
    position: absolute;
    width: 21px;
    height: 24px;
    left: 49.5%;
    /* top: 62%; */
    /* margin-top: 26%; */
    top: 430px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    /* display: flex;
    align-items: center;
    text-align: right; */
    letter-spacing: 0.38px;

    color: #7F8493;
}

.bottomline{
    position: absolute;
    width: 0px;
    height: 300px;
    left: 50%;
    /* top: 69.5%; */
    top: 474px;
    background-color: #7F8493;

    border: 1px solid #7F8493;
    /* transform: rotate(90deg); */
}


/* MIDDLE TEXT PORTION  */

.p1{
    /* Curated Portfolios */


    position: absolute;
    width: 184px;
    height: 28px;
    /* left: 31.6%; */
    left: 427px;
    /* top: 34.27%; */
    top: 281px;
    /* margin-top: 40px; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    text-align: right;

    color: #7F8493;

}

.p2{
    /* Create your Portfolio */


    position: absolute;
    width: 210px;
    height: 28px;
    /* left: 55.62%; */
    right: 400px;
    /* top: 34.27%; */
    top: 281px;
    /* margin-top: 40px; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */


    color: #7F8493;
}

.p3{
    /* Expertly-created Portfolios */


    position: absolute;
    width: 556px;
    height: 60px;
    /* left: 7.2%; */
    left: 58px;
    /* top: 38.9%; */
    top: 329px;
    /* margin-top: 60px; */
    /* right: 5.5%; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */

    text-align: right;

    /* Gradient */

    background: linear-gradient(216.87deg, #00E26E -0.79%, #0093FB 101.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */

}

.p4{
    /* Create your Portfolio */


    position: absolute;
    width: 425px;
    height: 60px;
    right: 186px;
    /* top: 38.9%; */
    top: 329px;
    /* margin-top: 60px; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */


    /* Gradient */

    background: linear-gradient(216.87deg, #00E26E -0.79%, #0093FB 101.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}

.p5{
    /* Choose from ready well diversified portfolios across industries or investing styles. */


    position: absolute;
    width: 460px;
    height: 56px;
    left: 151px;
    /* top: 45.8%; */
    top: 399px;
    /* margin-top: 80px; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */

    text-align: right;

    color: #7F8493;

}

.p6{
    /* Select the stocks you like to make diversified portfolios. */


    position: absolute;
    width: 460px;
    height: 56px;
    right: 151px;
    /* top: 45.8%; */
    top: 399px;
    /* margin-top: 80px; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */


    color: #7F8493;

}

/* BOTTOM BUTTONS */

.btn1{
    /* Explore Portfolios button*/


    position: absolute;
    width: 250px;
    height: 50px;
    left: 365px;
    /* top: 70%; */
    top: 505px;
    /* margin-top: 50px; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    /* display: flex; */
    /* align-items: center; */
    text-align: center;

    color: #FFFFFF;

    border-width: 0ch;
    background: #0093FB;
    border-radius: 5px;
}

.btn2{
    /* Create Portfolio button */


    position: absolute;
    width: 250px;
    height: 50px;
    right: 361px;
    /* top: 70%; */
    top: 505px;
    /* margin-top: 50px; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    /* display: flex;
    align-items: center; */
    text-align: center;

    color: #FFFFFF;

    border-width: 0ch;
    background: #0093FB;
    border-radius: 5px;
}